# URL goes here
sourceUrl=""

## Video options
# Output video quality
# Options are: 'original' 'max' '4320p' '8k' '2160p' '4k' '1440p' '2k' '1080p' '720p' '480p' '360p' '240p' '144p' 'none'
# default 'original'
outputResolution="original"

# Mark the media as watched once it's imported? e.g. For your "Liked Videos" playlist, which you have already watched.
# Options are: 'true' 'false'
# default 'false'
markWatched="false"

# Include shorts?
# Options are: 'true' 'false'
# default 'true'
includeShorts="true"

# Include previous live broadcasts? 
# Options are: 'true' 'false'
# default 'false'
includeLiveBroadcasts="false"

## Sponsor block options
# Enable sponsor block
# If enabled, it will attune to all categories (sponsor, intro, outro, selfpromo, preview, filler, interaction, music_offtopic, poi_highlight, chapter)
# Options are:
#  disable - Disables sponsor block integration
#  mark - Marks the segments of the video, but does not remove them
#  remove - Removes the segements of the video
# default 'disable'
sponsorblockEnable="disable"

# If sponsor block is enabled, you can require that sponsor block data is available for a video to be downloaded. If the
# data is not available, the video will be skipped, until it is available on a future run. If disabled, the script will
# download the video even if sponsor block data is not available, and will check for the data each time the script is run.
# Upon the first time the data is available, the video will be replaced/upgraded.
# Options are: 'true' 'false'
# default 'false'
sponsorblockRequire="false"
