# Ignore prod .env files
*.env
plex-dlp-mirror.sources/*.env
# Ignore lock file
*.lock
# Ignore .bak files
*.bak
# Ignore .log file
*.log
# Ignore .txt files
*.txt
# Ignore .db files
*.db
# Ignore tools
tools/*
# This is a symlink
sonarr-update-tba-4k.bash
