# Docker container names, this is an array of the Sonarr container names you want this script to interact with
# Format is: ("sonarr" "sonarr-4k" "sonarr-anime")
containers=("sonarr")

# Are we allowed to check for and notify of updates each time the script runs?
# Can be "Yes" "No" "True" "False"
updateCheck="Yes"

# How verbose should our output be?
# Possible values:
# 1 - Error only
# 2 - Informational
# 3 - Verbose
outputVerbosity="2"

## Optional
# If you want to search Plex for TBA items and refresh their metadata, uncomment and fill in your:
# Plex Container Name
# Plex Scheme (Probably http)
# Plex Port (Probably 32400)
# Plex Access Token - If you don't know what this is, here is how to find it:
# https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/
#plexContainer="plex"
#plexScheme="http"
#plexPort="32400"
#plexToken=""

# If you want to send a Telegram message notifying of renamed items, fill these out.
# Telegram bot API key, obtained from @BotFather
telegramBotId=""

# Telegram channel ID, if you don't know how to get this, use these instructions:
# https://gist.github.com/goose-ws/1c82c98ac4701af433eb5c7562109e51
# This is an array, so you can do multiple channels if you want.
# Format is: ("-100xxxxxxx2" "-100xxxxxxx1")
# Modifiers include threads for super groups, and silent notifications.
# If sending to a super group thread, you can specify the thread by adding '&message_thread_id=[int]',
# where [int] is the interger of the thread ID. (e.g. "-100xxxxxxxxx1&message_thread_id=12")
# For silent notifications, you can add the modifier '&silent=true' (e.g. "-100xxxxxxxxx1&silent=true")
telegramChannelId=("")

# Do you want to send a Telegram message for script errors? Beware, the script is not capable of checking
# to see if an error message has already been sent, so depending on your cron settings this could become
# very spammy. Can be "Yes" "No" "True" "False"
telegramErrorMessages="No"

# If you enabled Telegram messages for script errors, you can define a different channel for errors to
# be sent to, instead of the ones defined in the 'telegramChannelId' array above. This can only be a single
# channel, not an array. If you leave this blank, and have error messages enabled, then they will send to
# all channels in the 'telegramChannelId' array above.
telegramErrorChannel=""
