# Docker container names, this is an array of the Sonarr container names you want this script to interact with
# Format is: ("sonarr" "sonarr-4k" "sonarr-anime")
containers=("sonarr")

# The script will attempt to determine the IP address of the container on its own. If it fails, please create an
# issue with some details so I can look in to why. But as a workaround, you can uncomment this variable and
# define the IP address yourself
#containerIp="127.0.0.1"

# Are we allowed to check for and notify of updates each time the script runs?
# Can be "Yes" "No" "True" "False"
updateCheck="Yes"

# How verbose should our output be?
# Possible values:
# 1 - Error only
# 2 - Informational
# 3 - Verbose
outputVerbosity="2"

## Optional
# If you want to send a Telegram message notifying of renamed items, fill them out.
# Telegram bot API key, obtained from @BotFather
telegramBotId=""

# Telegram channel ID, if you don't know how to get this, use these instructions:
# https://gist.github.com/goose-ws/1c82c98ac4701af433eb5c7562109e51
# This is an array, so you can do multiple channels if you want.
# Format is: ("-100xxxxxxx2" "-100xxxxxxx1")
telegramChannelId=("")
