# The location that Sonarr can be reached at. This should either be a docker container name (sonarr)
# or an IP address if you are not using docker.
sonarrIp="sonarr"

# If you are NOT using docker, you will need to uncomment the below line so the script will know where
# to read the Sonarr configuration from. Again, only uncomment and use this line if you are NOT running
# sonarr in a docker container.
#sonarrConfig="/full/path/to/sonarr/config.xml"

# What is the threshold of how many episodes we should start queueing notifications at,
# rather than sending individual notifications?
maxConcurrent="3"

# Are we allowed to check for and notify of updates each time the script runs?
# Can be "Yes" "No" "True" "False"
updateCheck="Yes"

# Telegram bot API key, obtained from @BotFather
telegramBotId=""

# Telegram channel ID, if you don't know how to get this, use these instructions:
# https://gist.github.com/goose-ws/1c82c98ac4701af433eb5c7562109e51
telegramChannelId=""
