# What is the name of Sonarr's docker container?
sonarrContainerName="sonarr"

# What is the threshold of how many episodes we should start queueing notifications at,
# rather than sending individual notifications?
maxConcurrent="3"

# Are we allowed to check for and notify of updates each time the script runs?
# Can be "Yes" "No" "True" "False"
updateCheck="Yes"

# Telegram bot API key, obtained from @BotFather
telegramBotId=""

# Telegram channel ID, if you don't know how to get this, use these instructions:
# https://gist.github.com/goose-ws/1c82c98ac4701af433eb5c7562109e51
telegramChannelId=""
