# Plex token.
# Taken from https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/ -  You can find it via:
# 1. Sign in to your Plex account in Plex Web App
# 2. Browse to a library item and view the XML for it
# 3. Look in the address bar and find the token as the X-Plex-Token value
#
# It will appear like:
# http://localhost:32400/?X-Plex-Token=YOURTOKENVALUEHERE
# http://localhost:32400/library/sections/1?X-Plex-Token=YOURTOKENVALUEHERE
# http://192.168.1.12:32400/library/metadata/147?X-Plex-Token=YOURTOKENVALUEHERE
#
plexAccessToken=""

# Docker container name
plexContainerName="plex"

# Which channel version to update from (plexpass, beta, or public)
plexVersion="public"

# Host OS
# TODO: Automate this variable via 'uname'
# 1 = Windows
# 2 = MacOS
# 3 = Linux
# 4 = FreeBSD
# 5 = nas
# 6 = Netgear
# 7 = QNAP
# 8 = unRAID
# 9 = Drobo
# 10 = ASUSTOR
# 11 = Seagate
# 12 = Western Digital
# 13 = Western Digital (OS 3)
hostOS="3"

# Path to Codecs directory RELATIVE TO THE HOST (*NOT* relative to the container)
hostCodecPath="/path/to/plex/Library/Application Support/Plex Media Server/Codecs/"

# Are we allowed to check for and notify of updates each time the script runs?
# Can be "Yes" "No" "True" "False"
updateCheck="Yes"

# Telegram bot API key, obtained from @BotFather
telegramBotId=""

# Telegram channel ID, if you don't know how to get this, use these instructions:
# https://gist.github.com/goose-ws/1c82c98ac4701af433eb5c7562109e51
telegramChannelId=""
