# Link to the channel or playlist
sourceUrl=""

# Limit of how many most recent files to keep (Set to zero to keep all)
keepLimit="0"

# Directory where to store the audio files
# The script will create a directory within here, so you can point it towards
# a general storage location, it doesn't need to be a specific folder
workDir=""

# YouTube Data API key
ytApiKey=""

# Do you want to require SponsorBlock data be available for a video before allowing it to be downloaded?
requireSponsorBlock="false"

# If SponsorBlock is required, what catageories do you want to remove?
# You can do 'all', or a comma separated list of the following:
# sponsor, intro, outro, selfpromo, interaction, music_offtopic, preview, filler
sponsorBlockCats=""

# Can we check for updates?
## This is a string
updateCheck="No"

# How verbose do you want the output to be
# 1 = Errors only
# 2 = Warnings
# 3 = Informational
# 4 = Verbose
## This is a string
outputVerbosity="3"

## Podcast specific variables
podcastBlock=""
podcastLock=""
podcastLang=""
podcastExplicit=""
podcastCategory=""
podcastBaseUrl=""

# Set the minimum and maximum range of seconds that we should wait after calling yt-dlp.
# Useful to avoid IP bans, see https://github.com/yt-dlp/yt-dlp/issues/10108
# A minimum of 30 and maximum of 120 seem to have been safe for me, but that's no guarantee.
# Set both to zero to disable.
## These are a strings
throttleMin="10"
throttleMax="20"

## Optional
# If you want to send a Telegram message notifying of renamed items, fill them out.
# Telegram bot API key, obtained from @BotFather
telegramBotId=""

# Telegram channel ID, if you don't know how to get this, use these instructions:
# https://gist.github.com/goose-ws/1c82c98ac4701af433eb5c7562109e51
## This is an array, so you can do multiple channels if you want.
# Format is: ("-100xxxxxxx2" "-100xxxxxxx1")
# Modifiers include threads for super groups, and silent notifications.
# If sending to a super group thread, you can specify the thread by adding '&message_thread_id=[int]',
# where [int] is the interger of the thread ID. (e.g. "-100xxxxxxxxx1&message_thread_id=12")
# For silent notifications, you can add the modifier '&silent=true' (e.g. "-100xxxxxxxxx1&silent=true")
## This is an array
telegramChannelId=("")

# Do you want to send a Telegram message for script errors? Beware, the script is not capable of checking
# to see if an error message has already been sent, so depending on your cron settings this could become
# very spammy. Can be "Yes" "No" "True" "False"
telegramErrorMessages=""

# If you enabled Telegram messages for script errors, you can define a different channel for errors to
# be sent to, instead of the ones defined in the 'telegramChannelId' array above. This can only be a single
# channel, not an array. If you leave this blank, and have error messages enabled, then they will send to
# all channels in the 'telegramChannelId' array above.
telegramErrorChannel=""
